.artist {
}

.artist__heading {
  color: #aaa;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.artist__name {
  font-size: 18px;
  line-height: 1.22;
  margin: 8px 0 0;
}
