.footer {
  margin: 92px auto 24px;
}

.footer__copyright {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 1000px) {
  .footer {
    margin: 88px auto 24px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin: 64px auto 24px;
    line-height: 1;
  }
}
