.intro {
  max-width: 785px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

.intro__quote {
  max-width: 720px;
  margin: 40px 0 0;
  font-size: 24px;
  line-height: 1.42;
}

.intro__quote-cite {
  max-width: 720px;
  font-style: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 10px 0 0;
  text-align: end;
}

.intro__subtitle {
  max-width: 720px;
  line-height: 1.63;
  margin: 32px 0 0;
}

@media screen and (max-width: 550px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    line-height: 1.25;
  }
}
